body {
  font-family: "inter", sans-serif;
}

.btn-custom {
  font-weight: light;
  font-size: 15px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.3px;
  color: #FF7171;
}

.card {
  border: transparent;
}

.card-cart {
  border: solid;
  border-width: thin;
  border-radius: 4px;
  border-color: #3A5059;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.card .card-img {
  object-fit: cover;
  border-radius: 5px;
  position: relative;
}

.card .card-stuff {
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #3A5059;
  font-weight: light;
  font-size: 15px;
  text-align: center;
  align-items: center;
}

.card .card-product {
  object-fit: cover;
  border-radius: 5px;
  width: 220px;
  height: 220px;
}

.center {
  justify-content: center;
  align-items: center;
}

.jumbotron {
  margin: 0;
  padding: 10px;
  /* background-color: aqua; */
  background: transparent; 
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 40px;
}

.navbar-custom {
  background: transparent;
  height: 63px;
  margin: 15px 0px 0px 10px; }

.navbar-toggler {
  background: transparent;
  border-color: black; }

.navbar a {
  color: #FF7171;
  font-size: 14px; }

.navbar .navbar-nav .active a {
  color: #3A5059; }

.row-content {
  padding: 50px 0;
  min-height: 150px;
  min-width: 100%;
}

.site-footer {
  background-color: white;
  margin: 0 0 0 0;
  padding: 30px 0px 0px 0px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: black;
  text-align: center; 
}

.site-footer .list-unstyled a {
  color: #989898; 
}

.site-footer .btn-custom {
  background-color: white;
  border-color: #989898;
  color: #FF7171; 
}

.site-footer .form-custom {
  border-color: #989898; 
}
